In [1]:
from keras.models import Sequential #YSA modelini kullanmak için
import pandas as pd
from sklearn.model_selection import train_test_split
from textblob import TextBlob
import pandas as pd
from spacy.tokenizer import Tokenizer
from spacy.lang.tr import Turkish
from tqdm import tqdm
from wordcloud import WordCloud
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.feature_extraction.text import TfidfVectorizer
import numpy as np

Using TensorFlow backend.

In [5]:
data = pd.read_csv('lemessi10.csv')
data

                                                   tweet
0      leo messi cristiano special competition among ...
1                                   poles stop leo messi
2      la liga goal assist king champions league top ...
3      leo messi became first player score goal diffe...
4                    come tomorrow start work fenerbahçe
...                                                  ...
20099  via drawing lionel messi art lionelmessi barce...
20100  lionel messi made funny comment allegations ma...
20101  lionelmessi dont worry messi father go jail gi...
20102               lionel messi without detonating bomb
20103            lionel messi lottery offer galatasaraya

[20104 rows x 1 columns]

In [6]:
def getSubjectivity(text):
    return TextBlob(text).sentiment.subjectivity

def getPolarity(text):
    return TextBlob(text).sentiment.polarity

data['Subjectivity'] = data['tweet'].apply(getSubjectivity)
data['Polarity'] = data['tweet'].apply(getPolarity)

data

,tweet,Subjectivity,Polarity
0,leo messi cristiano special competition among ...,0.586190,0.225119
1,poles stop leo messi,0.000000,0.000000
2,la liga goal assist king champions league top ...,0.766667,0.200000
3,leo messi became first player score goal diffe...,0.466667,0.125000
4,come tomorrow start work fenerbahçe,0.000000,0.000000
...,...,...,...
20099,via drawing lionel messi art lionelmessi barce...,0.000000,0.000000
20100,lionel messi made funny comment allegations ma...,1.000000,0.250000
20101,lionelmessi dont worry messi father go jail gi...,0.375000,-0.050000
20102,lionel messi without detonating bomb,0.000000,0.000000
20103,lionel messi lottery offer galatasaraya,0.000000,0.000000

In [7]:
def getAnalysis(score):
    if score<0:
        return 'Negative'
    elif score==0:
        return 'Neutral'
    else:
        return 'Positive'
    
data['Analysis'] = data['Polarity'].apply(getAnalysis)
data

,tweet,Subjectivity,Polarity,Analysis
0,leo messi cristiano special competition among ...,0.586190,0.225119,Positive
1,poles stop leo messi,0.000000,0.000000,Neutral
2,la liga goal assist king champions league top ...,0.766667,0.200000,Positive
3,leo messi became first player score goal diffe...,0.466667,0.125000,Positive
4,come tomorrow start work fenerbahçe,0.000000,0.000000,Neutral
...,...,...,...,...
20099,via drawing lionel messi art lionelmessi barce...,0.000000,0.000000,Neutral
20100,lionel messi made funny comment allegations ma...,1.000000,0.250000,Positive
20101,lionelmessi dont worry messi father go jail gi...,0.375000,-0.050000,Negative
20102,lionel messi without detonating bomb,0.000000,0.000000,Neutral
20103,lionel messi lottery offer galatasaraya,0.000000,0.000000,Neutral

In [8]:
label_enc = preprocessing.LabelEncoder().fit_transform(data['Analysis'])
print(label_enc)

[2 1 2 ... 0 1 1]

In [9]:
vect = TfidfVectorizer(analyzer='word',lowercase=False)
sent_vector = vect.fit_transform(data['tweet'])

print(sent_vector)

  (0, 4901)	0.24890649791616995
  (0, 8400)	0.2248843852005883
  (0, 9616)	0.3005265054293155
  (0, 10463)	0.26443682295436655
  (0, 10755)	0.12437836632510421
  (0, 10674)	0.3197556424753424
  (0, 7505)	0.2278590916842625
  (0, 7275)	0.23068237973977024
  (0, 5929)	0.23467514211515997
  (0, 6787)	0.22452939908218347
  (0, 11463)	0.2566928707888658
  (0, 3862)	0.2623376404230149
  (0, 13088)	0.16746638314826084
  (0, 513)	0.2594037296105074
  (0, 2752)	0.2533717944917551
  (0, 11704)	0.2371030045770058
  (0, 3021)	0.1715437410829645
  (0, 8023)	0.04858473815579372
  (0, 7227)	0.12901752474861564
  (1, 11908)	0.5178896470172775
  (1, 9848)	0.7899569787592855
  (1, 8023)	0.11568574755708025
  (1, 7227)	0.30720529460603546
  (2, 1170)	0.2186445418362964
  (2, 5348)	0.18889864998589814
  :	:
  (20100, 7616)	0.44798571528983555
  (20100, 12290)	0.16821154871745747
  (20100, 8023)	0.06011974980385498
  (20101, 6545)	0.4695915522642063
  (20101, 13604)	0.38123226179833347
  (20101, 4240)	0.31660185505805805
  (20101, 4520)	0.32310776408008074
  (20101, 12607)	0.3491490180831949
  (20101, 7384)	0.16038903765070425
  (20101, 5326)	0.21336793918431854
  (20101, 3672)	0.2101298054253941
  (20101, 7375)	0.16465025866231836
  (20101, 5307)	0.26872021751010394
  (20101, 8383)	0.27356748114920704
  (20101, 8023)	0.13431623962039924
  (20102, 3427)	0.6885146315169532
  (20102, 1870)	0.5677527152448504
  (20102, 13543)	0.38018593358457486
  (20102, 7375)	0.22502988249366498
  (20102, 8023)	0.09178597065176274
  (20103, 7535)	0.6104102553068417
  (20103, 5119)	0.628851356715166
  (20103, 9173)	0.42251380150602963
  (20103, 7375)	0.21402473264650337
  (20103, 8023)	0.08729715187935697

In [22]:
x_train ,x_test,y_train,y_test = train_test_split(sent_vector,label_enc,test_size=0.2,random_state=0)
print(x_train)
print(x_test)

  (0, 13395)	0.7820676523303159
  (0, 9245)	0.21726746598062696
  (0, 13612)	0.47169029052023
  (0, 1251)	0.2836666959121212
  (0, 8023)	0.06888476967705373
  (0, 7227)	0.1829245729001043
  (1, 11025)	0.9528725138821527
  (1, 7384)	0.3033710142513728
  (2, 7519)	0.863764305801495
  (2, 1251)	0.24688941449136664
  (2, 3719)	0.42258604774585956
  (2, 8023)	0.11990776991465449
  (3, 5366)	0.3812544911608235
  (3, 4740)	0.45071958825275993
  (3, 13455)	0.3844921222235943
  (3, 1361)	0.306115174301755
  (3, 616)	0.3650088425035477
  (3, 5953)	0.303383621516964
  (3, 6169)	0.2876905171073275
  (3, 6862)	0.3070994229422668
  (3, 8023)	0.08721930766570057
  (4, 13827)	0.5296908594685955
  (4, 2006)	0.7102412702407066
  (4, 1361)	0.4459177545124203
  (4, 8023)	0.12705230282402943
  :	:
  (16081, 8951)	0.17353607365897503
  (16081, 8945)	0.19507789543467813
  (16081, 5139)	0.17353607365897503
  (16081, 8212)	0.1742365373153401
  (16081, 13742)	0.16667623004954044
  (16081, 7375)	0.11030480445694583
  (16081, 13731)	0.1524161816005346
  (16081, 2686)	0.13373697018250613
  (16081, 5327)	0.13234679154122533
  (16082, 7229)	0.4459259033305345
  (16082, 4588)	0.2485427572595179
  (16082, 7075)	0.22479778957311977
  (16082, 4183)	0.3432846944495649
  (16082, 1709)	0.2374934818862135
  (16082, 4236)	0.29199474917126084
  (16082, 7233)	0.17032965308347703
  (16082, 2803)	0.2946411087653892
  (16082, 11050)	0.2174632680825074
  (16082, 9797)	0.18571869380884753
  (16082, 4759)	0.19530483936009768
  (16082, 1495)	0.24578489935553172
  (16082, 7158)	0.1861142446734103
  (16082, 904)	0.2647265168197827
  (16082, 8023)	0.05944643730486854
  (16082, 7227)	0.15786093508632612
  (0, 420)	0.2982144980783949
  (0, 1323)	0.28268607044321403
  (0, 3556)	0.24548490560822198
  (0, 10262)	0.21393144465987246
  (0, 1167)	0.23031622993265946
  (0, 10698)	0.22722216978850798
  (0, 4830)	0.18557494154416376
  (0, 7718)	0.22024340846936796
  (0, 4758)	0.23031622993265946
  (0, 10929)	0.20714817395529378
  (0, 8486)	0.23906138686326164
  (0, 7650)	0.22103302911902908
  (0, 11579)	0.1572266090200375
  (0, 5371)	0.23031622993265946
  (0, 239)	0.2194737803793222
  (0, 9248)	0.21035099516644623
  (0, 4905)	0.18710797321816675
  (0, 11989)	0.18053507488121345
  (0, 8951)	0.1596761499155632
  (0, 5327)	0.24355312047118613
  (0, 10755)	0.10598046183450266
  (0, 8023)	0.041398139724722643
  (1, 1219)	0.48202519913525643
  (1, 4565)	0.5502582271993248
  (1, 1214)	0.48386429176646034
  :	:
  (4018, 13337)	0.3379897910965184
  (4019, 3084)	0.2835465393961861
  (4019, 1830)	0.2835465393961861
  (4019, 5983)	0.27523152117900684
  (4019, 4158)	0.27523152117900684
  (4019, 7114)	0.21423897807934936
  (4019, 7707)	0.22226350643388817
  (4019, 9064)	0.25905666734940613
  (4019, 5492)	0.23175842308966202
  (4019, 5516)	0.23516276482987128
  (4019, 10465)	0.23902228917483834
  (4019, 1053)	0.25179280126422987
  (4019, 9835)	0.20867875745731193
  (4019, 1800)	0.22595833803673787
  (4019, 6207)	0.24599271621130567
  (4019, 6347)	0.22112989062814498
  (4019, 2006)	0.2200390631322735
  (4019, 7384)	0.09400535124661596
  (4019, 5491)	0.14733797522897002
  (4019, 1251)	0.0810459967173796
  (4019, 8023)	0.07872386709581848
  (4020, 8386)	0.6127570170227497
  (4020, 11470)	0.5808499398749253
  (4020, 13410)	0.3727145186432095
  (4020, 1170)	0.38500139354194274

In [23]:
from keras.utils import to_categorical

train_encoded = to_categorical(y_train)
test_encoded = to_categorical(y_test)
print(train_encoded)
print(test_encoded)

[[0. 1. 0.]
 [0. 1. 0.]
 [0. 1. 0.]
 ...
 [0. 1. 0.]
 [1. 0. 0.]
 [0. 0. 1.]]
[[0. 0. 1.]
 [0. 1. 0.]
 [1. 0. 0.]
 ...
 [0. 1. 0.]
 [0. 0. 1.]
 [0. 1. 0.]]

In [24]:
n_sent, n_vect = np.shape(x_train)
xx_train = np.reshape(x_train.toarray(),(n_sent,n_vect,1))

nn_sent,nn_vect = np.shape(x_test)
xx_test =np.reshape(x_test.toarray(),(nn_sent,nn_vect,1))

In [25]:
from keras.models import Sequential #YSA modelini kullanmak için
from keras.layers import Dense #YSA da katman oluşturma
import pandas as pd
from sklearn.model_selection import train_test_split

model = Sequential()

model.add(Dense(1,kernel_initializer='uniform',activation='relu',input_dim=1))

#ikinci katman
model.add(Dense(12,kernel_initializer='uniform',activation='relu'))#ilk parametre yapay sinir ağı hücresi
#üçüncü katman
model.add(Dense(8,kernel_initializer='uniform',activation='relu'))
#dördüncü katman
model.add(Dense(1,kernel_initializer='uniform',activation='relu'))#çıkış katmanı

In [26]:
model.compile(loss='categorical_crossentropy',optimizer='adam',metrics=['accuracy'])# model derleme

In [36]:
#eğitim
model.fit(x_train,y_train,batch_size=10,epochs=10,verbose=1)

ValueError: Error when checking input: expected dense_17_input to have shape (1,) but got array with shape (14056,)

In [ ]:
#değerlendirme

result=model.evaluate(X_train,y_train)

predict=model.predict(X_train)
predict=model.predict(X_test)